// color
$background: #191e32;
$text: #dadada;

* {
  all: unset;
}

.bar {
  padding: 0 10px;
  color: $text;
  font-family: Hack;
  font-size: 20px;
}

.clock {
  padding-right: 10px;
}

.popup {
  background-color: $background;
  border-radius: 12px;
  border:  2px solid #252b30;

  &-wrapper {
    padding-top: 10px;
  }
}

.dashboard {
  min-width: 450px;

  &-icon {
    background-image: url('icons/apps.svg');
    min-height: 25px;
    min-width: 25px;
  }

  &-popup {
    min-height: 600px;
    min-width: 430px;
  }
}

.clock_date {
  margin-left: 10px;
}

// scale trough {
//   background-color: #22242b;
//   border-radius: 16px;
//   min-height: 10px;
//   min-width: 120px;
// }

.bthbar {
  margin: 0;
  &-icon {
    min-width: 35px;
    border-radius: 6px;
    background-size: 30px;
    background-repeat: no-repeat;
  }
}

.wifibar {
  margin: 0 20px;
  &-icon {
    min-width: 25px;
    border-radius: 6px;
  }
  &-ssid {
    margin-left: 20px;
  }
}

.volbar {
  &-icon {
    margin-right: 20px;
    background-image: url('icons/volume_up.svg');
    min-height: 25px;
    min-width: 25px;
  }

  &-slider {
    margin-right: 20px;
  }

  &-slider trough highlight {
    background-color: #fff;
    border-radius: 5px;
  }
  
  &-slider trough {
    all: unset;
    background-color: #64666b;
    border-radius: 16px;
    min-height: 10px;
    min-width: 120px;
  }

  &-toogle-icon {
    margin-right: 20px;
    min-height: 25px;
    min-width: 25px;
  }
}

.kb_layoutbar {
  margin-right: 20px;
}


// Calendar
.cal {
  padding-top: 22px;
.cal-in {
    padding: 0px 10px 0px 10px;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
      font-family: Hack;
      font-size: 20px;
    }
  }
}

calendar:selected {
  color: #6e8b9e;
}

calendar.header {
color: #6e8b9e;
font-weight: bold;
}

calendar.button {
color: #585858;
}

calendar.highlight {
  color: #6e8b9e;
  font-weight: bold;
}

calendar:indeterminate {
  color: #585858;
}