window {
    font-family: Hack, sans-serif;
    margin: 0px;
    border: none;
    background-color: rgba(20, 27, 37, 0.9);
}

#input,
#inner-box,
#outer-box,
#scroll,
#text,
#entry {
    margin: 5px;
    border: none;
    color: #fff;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
}

#entry:selected {
    background-color: transparent;
    border-bottom: 2px solid #fff;
}

